<!DOCTYPE html>
<html>
  <head>
    <title>Simple login form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
      html, body {
      display: block;
      /* justify-content: center; */
      font-family: Roboto, Arial, sans-serif;
      font-size: 15px;
      }
      form {
      border: 5px solid #f1f1f1;
      }
      input[type=text], input[type=password] {
      width: 100%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
      button {
      background-color: #8ebf42;
      color: white;
      padding: 14px 0;
      margin: 10px 0;
      border: none;
      cursor: grabbing;
      width: 100%;
      }
      h1 {
      text-align:center;
      font-size:18;
      }
      button:hover {
      opacity: 0.8;
      }
      .formcontainer {
      text-align: left;
      margin: 24px 50px 12px;
      }
      .container {
      padding: 16px 0;
      /* text-align:left; */
      }
      span.psw {
      float: right;
      padding-top: 0;
      padding-right: 15px;
      }
      /* Change styles for span on extra small screens
      @media screen and (max-width: 300px) {
      span.psw {
      display: block;
      float: none;
      }
    } */
    </style>
  </head>
  <body>

    <form action="/patient/doctor-query" method="POST">
      <div class="container">
          <label ><strong>Patient</strong></label>
          <input type="text" placeholder="Enter Patient name" name="patient" id="patient" required>
          <label ><strong>Doctor</strong></label>
          <input type="text" placeholder="Enter Doctor name" name="doctor" id="doctor" required>
          <label><strong>Record ID</strong></label>
          <input type="text" placeholder="Enter Record ID" name="record" id="record" required>
      </div>
      <button type="submit">Submit</button>
    </form>

  <div class="container">
    <h1>QUERY RESULT: </h1>
    <h1><%= result%></h1>
    <h1><%= type %></h1>
    <h1><%= result.Fullname%></h1>
    <h1><%= result.Phone %></h1>
    <h1><%= result.Address %></h1>
    <h1><%= result.MedicalInfo_ID %></h1>
    <h1><%= result.AuthorizedDoctors %></h1>
  </div>

  </body>
</html>